footer{
    .logoFooter{
        width: 138px;
        display: table;
        margin: auto;
    }

    .iconoSocial{
        width: 50px;
        margin-left: 20px;
        display: inline-block;
        float: left;
        overflow: hidden;
        margin-top: 17px;
    }
}
    

    
